body{
 background-color:#2255e06e ;   
}

.img_musica2p{ 
width: 500%;
height: 100px;
}

figure{
    text-align: center;
}
.img_musica2p{
    width: 30%;
}

.container{
    width: 88%;
    margin:auto;
}

h1{
    text-align: center;
}

p{
    font-size: 2em;
    
}